.board-container {
    background-color: red;
    height: 370px;
    width: 370px;
}

.board-container .row {
    background-color: blue;
    height: 100%;
}

.board-square {
    border: 2px solid red;
    height: 25%;
    padding: 0;
    overflow: hidden;
}

.face-container {
    background-color: blue;
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
}

.faceup,
.facedown {
    height: 50%;
}

.facedown {
    background-color: lightGray;
}

.faceup {
    background-color: coral;
}

.flipped .face-container {
    top: -100%;
}